.box {
    text-align:center;
    height: 100%;
    width: 100%;
}
.box h1{
    position: relative;
top: 50%;
transform: translateY(-50%);
color:snow;
}
body{
    height: 100%;
    width:100%;
}
.his{
    background: url("../img/history/done_1.jpg") no-repeat;
    background-size: cover;
}
.vie{
    background: url("../img/index_2.jpg") no-repeat;
    background-size: cover;
}
.src{
    background: url("../img/history/done_1.jpg") no-repeat;
    background-size: cover;
}