.button {
    width: 30px;
    height: 30px;
}

.buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30;
    height: 30;
    margin-left: 0;
    margin-right: auto;
}
body{
    overflow-y:hidden;  
}